<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Emprendimientos</title>
    <link rel="stylesheet" href="/css/emprendimientos.css"/>
</head>
<%- include("templates/navbar") %>
<body>
<main class="emprendimientos-contenedor">
    <h1 class="emprendimientos-titulo">Emprendimientos Disponibles</h1>
    <div class="filtros-container">
        <button class="filtro-categoria" data-categoria="todos">Todos</button>
        <% for (categoria of categorias) { %>
            <button class="filtro-categoria" data-categoria="<%= categoria %>"> <%= categoria %> </button>
        <% } %>
    </div>
    <div class="items-por-pagina mb-2">
        <span>Mostrar:</span>
        <select id="itemsPorPagina">
            <option value="10">10 por p치gina</option>
            <option value="25" selected>25 por p치gina</option>
            <option value="50">50 por p치gina</option>                                                           
        </select>
    </div>
    <div class="emprendimientos-grid" id="emprendimientosGrid">
        <% for (let emprendimiento of emprendimientos) { %>
            <div class="tarjeta-emprendimiento" data-categoria="<%= emprendimiento.categoria %>">
                <h2 class="nombre-emprendimiento"><%= emprendimiento.nombre %></h2>
                <div class="categorias-emprendimiento">              
                    <span class="categoria"><%= emprendimiento.categoria %></span>                  
                </div>
                <p class="ubicacion-emprendimiento"><b>Ubicaci칩n:</b> <%= emprendimiento.ubicacion %></p>
                <p class="contacto-emprendimiento"><b>Contacto:</b> <%= emprendimiento.telefono %></p>
                <a href="/emprendimiento-ver/<%= emprendimiento.id %>" class="boton-subir">Ver mas</a>

            </div>
        <% } %>
    </div>

    <div class="paginador-container">
        <div class="paginador-info">
            Mostrando <span id="inicioRango">1</span>-<span id="finRango">9</span> de <span id="totalItems">0</span> emprendimientos
        </div>   
        <div class="paginador-botones">
            <button class="btn-paginador" id="btnAnterior" disabled>Anterior</button>
            <div id="numerosPagina"></div>
            <button class="btn-paginador" id="btnSiguiente">Siguiente</button>
        </div>
    </div>
    <script src="/js/paginador-emprendimientos.js"></script>
</main>
<%- include("templates/footer") %>
</body>
</html>